<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.uires"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />

    <!-- Granted once via: adb shell pm grant local.uires android.permission.WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:label="Разрешение UI"
        android:icon="@drawable/icon"
        android:banner="@drawable/banner"
        android:theme="@android:style/Theme.Material.Dialog.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="Разрешение UI"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
